@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #F6F7F9;
  background-color: #23272F;
}

.btn {
  border: 2px solid blue;
  padding: 5px 10px;
}

.item {
  border: 2px solid green;
}

img {
  width: 200px;
}

.ch1-container {
  border: solid 1px red;
  width: 150px;
  margin: 6rem;
  padding: 1.7rem;
  text-align: center;
  height: 130px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.ch1-text {
  margin-top: 1.3rem;
  font-size: 1.5rem;
}


/* .test {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2rem;
} */